# Testing data frame interpolation of missing cells.

In [45]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [46]:
# Create a data frame with 'holes'.
df=pd.DataFrame({'x':[1, 2, 2.5, 3.5, 4, 5], 'y1':[2, 4, None, None, 8, 10], 'y2':[None,-4,None,-7, -8, None], 'y3': [np.nan, None, None, None, None, None] })
# df=pd.DataFrame({'x':[1, 2, 2.5, 4, 5], 'y1':[2, 4, None, 8, 10], 'y2':[None, -4, None, -8, None] })

# Change the index from the default row number to column x
df.set_index('x', inplace=True)

# Whow results
df.index
df

Index([1.0, 2.0, 2.5, 3.5, 4.0, 5.0], dtype='float64', name='x')

       y1   y2  y3
x
1.0   2.0  NaN NaN
2.0   4.0 -4.0 NaN
2.5   NaN  NaN NaN
3.5   NaN -7.0 NaN
4.0   8.0 -8.0 NaN
5.0  10.0  NaN NaN

In [48]:
# Interpolate the missing values
df.interpolate(method='polynomial', order=2, inplace=True)
df

       y1   y2  y3
x
1.0   2.0  NaN NaN
2.0   4.0 -4.0 NaN
2.5   5.0 -5.0 NaN
3.5   7.0 -7.0 NaN
4.0   8.0 -8.0 NaN
5.0  10.0  NaN NaN

In [49]:
df.to_csv('_interpolated.csv', encoding='utf-8')